# MISSING indicator / random sample imputation/ aautomatice selection

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split

import seaborn as sns

In [7]:
df = pd.read_csv('titanic_toy.csv',usecols=['Age','Fare','Survived'])

In [8]:
df.head()

    Age     Fare  Survived
0  22.0   7.2500         0
1  38.0  71.2833         1
2  26.0   7.9250         1
3  35.0  53.1000         1
4  35.0   8.0500         0

In [9]:
df.isnull().mean()*100

Age         19.865320
Fare         5.050505
Survived     0.000000
dtype: float64

In [10]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

X_train

      Age      Fare
30   40.0   27.7208
10    4.0   16.7000
873  47.0    9.0000
182   9.0   31.3875
876  20.0    9.8458
..    ...       ...
534  30.0    8.6625
584   NaN    8.7125
493  71.0   49.5042
527   NaN  221.7792
168   NaN   25.9250

[712 rows x 2 columns]

In [22]:
X_train['Age_imputrd'] = X_train['Age']
X_test['Age_imputed'] = X_test['Age']

In [23]:
X_test.head()

      Age     Fare  Age_imputed
707  42.0  26.2875         42.0
37   21.0   8.0500         21.0
615  24.0  65.0000         24.0
169  28.0  56.4958         28.0
68   17.0   7.9250         17.0

In [25]:
import numpy as np

# Impute missing values in X_train
X_train.loc[X_train['Age_imputed'].isnull(), 'Age_imputed'] = (
    X_train['Age'].dropna()
    .sample(X_train['Age_imputed'].isnull().sum(), replace=True, random_state=42)
    .values
)

# Impute missing values in X_test
X_test.loc[X_test['Age_imputed'].isnull(), 'Age_imputed'] = (
    X_train['Age'].dropna()   # always use training distribution
    .sample(X_test['Age_imputed'].isnull().sum(), replace=True, random_state=42)
    .values
)

KeyError: 'Age_imputed'